.market-cash{
  height: 100%;
  .market-cash-table{
    height: 85%;
    position: relative;
    .btn-warning{
      right: 0;
      bottom: 0;
      z-index: 999;
      display: block;
    }
    .mt-3{
      height: calc(100% - 1rem);
      background-color: #EBEDE6;
      position: relative;
      .form-control{
        left: -100px;
        top: 0;
        width: 50px;
        border-color: transparent;
        background-color: transparent;
      }
      .table {
        td{
          padding: 0.3rem;
          vertical-align: middle;
        }
        tbody{
          .icon-operate{
            cursor: pointer;
            .iconfont{
              color: #4C7292;
              font-weight: 800;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
  .footer{
    height: 15%;
    overflow: hidden;
    border-top: 2px solid #D3D4CF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative;
    background-color: #EBEDE6;
    .footer-semicircle{
      height: 100%;
      width: 20%;
      background-color: #416485;
      left: 0;
      top: 0;
      padding-left: 2%;
      border-bottom-right-radius: 100%;
      line-height: 100%;
      display: flex;
      align-items: center;
    }
    .footer-pay{
      height: 100%;
      width: 30%;
      position: relative;
      margin-left: 24%;
      .footer-pay-content{
        z-index: 1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: inline-flex;
        align-items: center;
        .custom-select{
          width: auto;
          cursor: pointer;
        }
      }
      .footer-pay-border{
        height: 329%;
        width: 87%;
        left: -51%;
        top: 0;
        border-left-color: #D2D4CF;
        border-left-width: 2px;
        border-left-style: solid;
        border-top-color: #D2D4CF;
        border-top-width: 2px;
        border-top-style: solid;
        border-top-left-radius: 92%;
      }
    }
    .footer-btn{
      margin-right: 3%;
      .btn-primary{
        background-color: #416485;
        border-color: #416485;
      }
    }
  }
}
//模态框改造
.modal-content{
  .modal-header{
    border: none;
  }
  .modal-body{
    .search{
      display: flex;
      justify-content: space-between;
      .input-group{
        .form-control{
          font-size: 0.8rem;
          display: inline-block;
          padding: 5px 5px;
          flex: none;
          width: 70%;
        }
        .btn-info{
          font-size: 0.8rem;
        }
      }
    }
    .table {
      thead{
        tr{
          font-size: 0.85rem;
        }
      }
      tbody{
        tr{
          cursor: pointer;
          td{
            padding: 0.3rem;
            vertical-align: middle;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  .modal-footer{
    font-size: 0.8rem;
    .form-control{
      width: 40%;
      padding: 0 5px;
      font-size: 0.75rem;
    }
  }
}
.modal-backdrop{
  //background-color: transparent;
}

