.manager{
  height: 100%;
  .content{
    margin-top: 10px;
    height: calc(100% - 70px);
  }
}
//模态框改造
.modal-dialog{
  .footer-center{
    justify-content: center!important;
  }
}
.modal-content{
  .modal-header{
    border: none;
    justify-content: center;
    .form-control{
      display: inline-block;
      width: auto;
    }
  }
  .modal-body{

  }
  .modal-footer{
    font-size: 0.8rem;
    justify-content: center;
  }
}

