.login {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/images/bg01.png');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-color: rebeccapurple;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3vw;
  .login-form{
    height: auto;
    width: 45vh;
    background: #fff;
    position: relative;
    .form-circle{
      width: 100px;
      height: 100px;
      background: #fff;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,-50%);
      color: red;
      line-height: 100px;
      .iconshouyintai{
        font-size: 3.2rem;
        color: #468F7F;
      }
    }
    .form-group{
      text-align: center;
      color: $bg_48907F;
      font-size: 1rem;
      .form-control{
        position: relative;
        border-color: transparent;
        background-color: #EFFBF1;
        color: $font_9ADCCF;
        font-size: 0.8rem;
        &::placeholder{
          color: $font_9ADCCF;
          font-size: 0.8rem;
        }
      }
      .dropdown-toggle::after{
        position: absolute;
        transform: translateY(100%);
        right: 15px;
      }
      .dropdown-menu{
        width: 100%;
        height: 30vh;
        transform: translate3d(0px, 170px, 0px)!important;
        text-align: center;
        .dropdown-item{
          color: $bg_468E80;
          font-size: 0.8rem;
          &:hover{
            background-color: $font_9ADCCF;
          }
        }
      }
      .dropdown { background: red !important }
      .btn-primary{
        background-color: $bg_468E80;
        border: none;
      }
    }
    .form-check{
      text-align: left;
      .form-check-input{
        left: 35px;
      }
    }
  }
}
@media (max-width: 768px) {
  .login {
    padding-right: 0;
    justify-content: center;
  }
}
